[Unit]
Description=Postgres database running on Docker
After=docker.service
Requires=docker.service

[Service]
Restart=always
# TODO: /root/Docker <--- To be parametrized
ExecStart=/root/Docker/Definitions/Postgres/start.sh

[Install]
WantedBy=multi-user.target