[Unit]
Description=Postgres database running on Docker
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/root/Docker/Definitions/Postgres/run.sh
ExecStop=/usr/local/bin/docker-compose -f /root/Docker/Definitions/Postgres/docker-compose.yml down -v

[Install]
WantedBy=multi-user.target