[submodule "Logger"]
	path = Logger
	url = https://github.com/milos85vasic/Logger.git
[submodule "Core"]
	path = Core
	url = git@github.com:milos85vasic/Server-Factory.git
[submodule "Variables"]
	path = Variables
	url = git@github.com:milos85vasic/Global-Variables.git
[submodule "Definitions/main/Stacks"]
	path = Definitions/main/Stacks
	url = git@github.com:milos85vasic/Server-Factory-Stack-Definitions.git
[submodule "Definitions/main/Software"]
	path = Definitions/main/Software
	url = git@github.com:milos85vasic/Server-Factory-Software-Definitions.git
[submodule "Definitions/main/Docker"]
	path = Definitions/main/Docker
	url = git@github.com:milos85vasic/Server-Factory-Docker-Definitions.git
