[submodule "Logger"]
	path = Logger
	url = https://github.com/milos85vasic/Logger.git
[submodule "Core"]
	path = Core
	url = git@github.com:milos85vasic/Server-Factory.git
[submodule "Definitions/main/docker"]
	path = Definitions/main/docker
	url = git@github.com:milos85vasic/Server-Factory-Docker-Definitions.git
[submodule "Definitions/main/software"]
	path = Definitions/main/software
	url = git@github.com:milos85vasic/Server-Factory-Software-Definitions.git
[submodule "Definitions/main/stacks"]
	path = Definitions/main/stacks
	url = git@github.com:milos85vasic/Server-Factory-Stack-Definitions.git
