[Unit]
Description=Postfix service running on Docker
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart={{DOCKER.DOCKER_HOME}}/Definitions/Postfix/start.sh

[Install]
WantedBy=multi-user.target