[Unit]
Description=ClamAV with Amavis stack running on Docker
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart={{DOCKER.DOCKER_HOME}}/Definitions/ClamAV/start.sh

[Install]
WantedBy=multi-user.target