[Unit]
Description=Postgres database running on Docker
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart={{DOCKER.DOCKER_HOME}}/Definitions/Postgres/start.sh

[Install]
WantedBy=multi-user.target